Repository geoyogesh/GeoETL: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for GeoETL
# Compatible with both pre-commit and prek (https://github.com/j178/prek)
# Install: cargo install prek OR pip install pre-commit
# Setup: prek install OR pre-commit install

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-fmt
        name: taplo format
        description: Format TOML files with taplo
        entry: taplo format
        language: system
        types: [toml]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings -D clippy::pedantic
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: cargo test --workspace --all-targets
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and dependencies
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: ^(Cargo\.(toml|lock)|deny\.toml)$

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: cargo audit
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: mixed-line-ending
        args: ['--fix=lf']

fix(core): extract CRS from GeoParquet schema-level metadata
  Cargo.lock
  Cargo.toml
  crates/formats/datafusion-geojson/Cargo.toml
  crates/geoetl-cli/Cargo.toml
  crates/geoetl-core/Cargo.toml
  crates/geoetl-core/src/operations.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

chore(release): bump GeoETL to 0.4.2
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

feat(operations): add ST_Distance spatial UDF for DataFusion SQL queries
  Cargo.lock
  Cargo.toml
  crates/geoetl-core/Cargo.toml
  crates/geoetl-core/src/operations.rs
  crates/geoetl-core/tests/integration_st_distance.rs
  crates/geoetl-operations/Cargo.toml
  crates/geoetl-operations/README.md
  crates/geoetl-operations/src/lib.rs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_distance.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

ci(geos): add static GEOS linking for portable release binaries
  .circleci/config-ci.yml
  .circleci/config-release.yml
  Cargo.lock
  crates/geoetl-cli/Cargo.toml
  crates/geoetl-core/Cargo.toml
  crates/geoetl-operations/Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

feat(operations): add geometry construction UDFs and GeoArrow native support
  Cargo.lock
  crates/geoetl-core/tests/integration_st_distance.rs
  crates/geoetl-operations/Cargo.toml
  crates/geoetl-operations/README.md
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/geoarrow_types.rs
  crates/geoetl-operations/src/spatial_udf/st_distance.rs
  crates/geoetl-operations/src/spatial_udf/st_geomfromtext.rs
  crates/geoetl-operations/src/spatial_udf/st_geomfromwkb.rs
  crates/geoetl-operations/src/spatial_udf/st_point.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

docs(release): add v0.5.0 changelog and release blog post
  docs/geoetl-doc-site/blog/release/2025-11-28-spatial-udfs-v0-5-0.md
  docs/geoetl-doc-site/docs/community/changelog.md
Due: none

chore(release): bump GeoETL to 0.5.0
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

docs: add CLAUDE.md and update doc site branding
  CLAUDE.md
  docs/geoetl-doc-site/docusaurus.config.ts
  docs/geoetl-doc-site/static/img/docusaurus-social-card.jpg
  docs/geoetl-doc-site/static/img/docusaurus.png
  docs/geoetl-doc-site/static/img/logo.svg
  docs/geoetl-doc-site/static/img/social-card.png
  docs/geoetl-doc-site/static/img/undraw_docusaurus_mountain.svg
  docs/geoetl-doc-site/static/img/undraw_docusaurus_react.svg
  docs/geoetl-doc-site/static/img/undraw_docusaurus_tree.svg
Due: none

chore(build): ignore rustls-pemfile advisory and enforce strict blog tags
  deny.toml
  docs/geoetl-doc-site/blog/tags.yml
  docs/geoetl-doc-site/docusaurus.config.ts
Due: taplo-fmt, cargo-deny

feat(operations): add ST_Area and ST_Length spatial UDFs
  crates/geoetl-core/tests/integration_st_area.rs
  crates/geoetl-core/tests/integration_st_length.rs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_area.rs
  crates/geoetl-operations/src/spatial_udf/st_distance.rs
  crates/geoetl-operations/src/spatial_udf/st_length.rs
  crates/geoetl-operations/src/spatial_udf/st_point.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(release): bump GeoETL to 0.6.0
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

docs(release): add v0.6.0 changelog and blog post
  docs/geoetl-doc-site/blog/release/2025-12-07-spatial-area-length-v0-6-0.md
  docs/geoetl-doc-site/blog/tags.yml
  docs/geoetl-doc-site/docs/community/changelog.md
Due: none

chore(release): bump GeoETL to 0.6.1
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

feat(operations): add ST_Buffer, ST_Centroid, ST_Intersection, and ST_Union spatial UDFs
  crates/geoetl-core/tests/integration_st_buffer.rs
  crates/geoetl-core/tests/integration_st_centroid.rs
  crates/geoetl-core/tests/integration_st_intersection.rs
  crates/geoetl-core/tests/integration_st_union.rs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_buffer.rs
  crates/geoetl-operations/src/spatial_udf/st_centroid.rs
  crates/geoetl-operations/src/spatial_udf/st_intersection.rs
  crates/geoetl-operations/src/spatial_udf/st_union.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(operations): add geos_helpers shared module and refactor ST_Area
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/geos_helpers.rs
  crates/geoetl-operations/src/spatial_udf/st_area.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(operations): update ST_Length to use shared geos_helpers module
  crates/geoetl-operations/src/spatial_udf/st_length.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(operations): update ST_Distance to use shared geos_helpers module
  crates/geoetl-operations/src/spatial_udf/st_distance.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(operations): use shared geos_helpers in st_buffer
  crates/geoetl-operations/src/spatial_udf/st_buffer.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(operations): use shared geos_helpers in st_centroid
  crates/geoetl-operations/src/spatial_udf/st_centroid.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(operations): use shared geos_helpers in st_intersection
  crates/geoetl-operations/src/spatial_udf/st_intersection.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(operations): use shared geos_helpers in st_union
  crates/geoetl-operations/src/spatial_udf/st_union.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(operations): add ST_Intersects spatial predicate
  crates/geoetl-core/tests/integration_st_intersects.rs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_intersects.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(operations): add ST_Contains spatial predicate
  crates/geoetl-core/tests/integration_st_contains.rs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_contains.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(operations): add ST_Within spatial predicate
  crates/geoetl-core/tests/integration_st_within.rs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_within.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(operations): add ST_Overlaps spatial predicate
  crates/geoetl-core/tests/integration_st_overlaps.rs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_overlaps.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(operations): add remaining Phase 2 binary predicates
  crates/geoetl-core/tests/integration_st_covered_by.rs
  crates/geoetl-core/tests/integration_st_covers.rs
  crates/geoetl-core/tests/integration_st_crosses.rs
  crates/geoetl-core/tests/integration_st_disjoint.rs
  crates/geoetl-core/tests/integration_st_equals.rs
  crates/geoetl-core/tests/integration_st_touches.rs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_covered_by.rs
  crates/geoetl-operations/src/spatial_udf/st_covers.rs
  crates/geoetl-operations/src/spatial_udf/st_crosses.rs
  crates/geoetl-operations/src/spatial_udf/st_disjoint.rs
  crates/geoetl-operations/src/spatial_udf/st_equals.rs
  crates/geoetl-operations/src/spatial_udf/st_touches.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(spatial): add unary validator UDFs (ST_IsValid, ST_IsEmpty, ST_IsSimple, ST_IsClosed, ST_IsRing)
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_is_closed.rs
  crates/geoetl-operations/src/spatial_udf/st_is_empty.rs
  crates/geoetl-operations/src/spatial_udf/st_is_ring.rs
  crates/geoetl-operations/src/spatial_udf/st_is_simple.rs
  crates/geoetl-operations/src/spatial_udf/st_is_valid.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(operations): add geometry generator UDFs
  crates/geoetl-operations/src/spatial_udf/st_boundary.rs
  crates/geoetl-operations/src/spatial_udf/st_convex_hull.rs
  crates/geoetl-operations/src/spatial_udf/st_envelope.rs
  crates/geoetl-operations/src/spatial_udf/st_point_on_surface.rs
  crates/geoetl-operations/src/spatial_udf/st_simplify.rs
  crates/geoetl-operations/src/spatial_udf/st_simplify_preserve_topology.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(operations): add set operation UDFs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_difference.rs
  crates/geoetl-operations/src/spatial_udf/st_sym_difference.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(operations): add accessor UDFs
  crates/geoetl-operations/src/spatial_udf.rs
  crates/geoetl-operations/src/spatial_udf/st_dimension.rs
  crates/geoetl-operations/src/spatial_udf/st_geometry_type.rs
  crates/geoetl-operations/src/spatial_udf/st_num_geometries.rs
  crates/geoetl-operations/src/spatial_udf/st_num_points.rs
  crates/geoetl-operations/src/spatial_udf/st_x.rs
  crates/geoetl-operations/src/spatial_udf/st_y.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs(release): add v0.7.0 changelog and blog post
  docs/geoetl-doc-site/blog/release/2025-12-07-spatial-predicates-v0-7-0.md
  docs/geoetl-doc-site/blog/tags.yml
  docs/geoetl-doc-site/docs/community/changelog.md
Due: none

chore(release): bump GeoETL to 0.7.0
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

chore(release): bump GeoETL to 0.7.1
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

chore(docs): update website branding and assets
  docs/geoetl-doc-site/blog/release/2025-12-08-spatial-predicates-v0-7-0.md
  docs/geoetl-doc-site/docusaurus.config.ts
  docs/geoetl-doc-site/static/img/docusaurus-social-card.jpg
  docs/geoetl-doc-site/static/img/docusaurus.png
  docs/geoetl-doc-site/static/img/geoetl_logo1.png
  docs/geoetl-doc-site/static/img/social-card.png
Due: none
