Repository geoyogesh/GeoETL: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

cargo-fmt:
  name: cargo fmt
  description: Format Rust code with rustfmt
  entry: cargo fmt --all --
  language: system
  pass_filenames: false

taplo-fmt:
  name: taplo format
  description: Format TOML files with taplo
  entry: taplo format
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  description: Lint Rust code with clippy
  entry: cargo clippy --workspace --all-targets -- -D warnings -D clippy::pedantic
  language: system
  pass_filenames: false

cargo-test:
  name: cargo test
  description: Run Rust tests
  entry: cargo test --workspace --all-targets
  language: system
  pass_filenames: false

cargo-deny:
  name: cargo deny
  description: Check licenses and dependencies
  entry: cargo deny check
  language: system
  pass_filenames: false

cargo-audit:
  name: cargo audit
  description: Check for security vulnerabilities
  entry: cargo audit
  language: system
  pass_filenames: false

fix(ci): resolve duplicate resource_class in Windows build job
  .circleci/config-release.yml
Due: none

feat(csv): implement InsertOp::Overwrite support for CSV writer
  crates/formats/datafusion-csv/src/file_format.rs
  crates/formats/datafusion-csv/src/sink.rs
  crates/formats/datafusion-csv/tests/test_writer_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(geojson): implement InsertOp::Overwrite support for GeoJSON writer
  crates/formats/datafusion-geojson/src/file_format.rs
  crates/formats/datafusion-geojson/src/sink.rs
  crates/formats/datafusion-geojson/tests/test_writer_integration.rs
Due: cargo-fmt, cargo-clippy, cargo-test

refactor(geojson): remove unused GeoJsonWriterExec
  crates/formats/datafusion-geojson/src/lib.rs
  crates/formats/datafusion-geojson/src/sink.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(geoparquet): implement GeoParquet format driver with streaming architecture
  Cargo.lock
  crates/formats/datafusion-geojson/src/writer.rs
  crates/formats/datafusion-geoparquet/Cargo.toml
  crates/formats/datafusion-geoparquet/src/factory.rs
  crates/formats/datafusion-geoparquet/src/file_format.rs
  crates/formats/datafusion-geoparquet/src/file_source.rs
  crates/formats/datafusion-geoparquet/src/lib.rs
  crates/formats/datafusion-geoparquet/src/physical_exec.rs
  crates/formats/datafusion-geoparquet/src/sink.rs
  crates/formats/datafusion-geoparquet/src/writer.rs
  crates/geoetl-cli/tests/e2e_data/flatgeobuf/natural-earth_cities.fgb
  crates/geoetl-cli/tests/e2e_data/geoparquet/natural-earth_cities.parquet
  crates/geoetl-cli/tests/e2e_geoparquet.rs
  crates/geoetl-core/Cargo.toml
  crates/geoetl-core/src/drivers.rs
  crates/geoetl-core/src/init.rs
  crates/geoetl-core/src/operations.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

docs(bench): add GeoParquet benchmark results and analysis
  bench/README.md
Due: none

docs(adr): add ADR 004 for streaming GeoParquet architecture
  docs/adr/004-streaming-geoparquet-architecture.md
Due: none

docs: add comprehensive GeoParquet v0.3.0 documentation and tutorials
  docs/geoetl-doc-site/blog/2025-11-04-geoparquet-support-v0-3-0.md
  docs/geoetl-doc-site/docs/intro.md
  docs/geoetl-doc-site/docs/reference/supported-drivers.md
  docs/geoetl-doc-site/docs/tutorial-basics/common-operations.md
  docs/geoetl-doc-site/docs/tutorial-basics/first-conversion.md
  docs/geoetl-doc-site/docs/tutorial-basics/installation.md
  docs/geoetl-doc-site/docs/tutorial-basics/troubleshooting.md
  docs/geoetl-doc-site/docs/tutorial-basics/understanding-drivers.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-csv.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-geojson.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-geoparquet.md
Due: none

docs: add comprehensive GeoParquet v0.3.0 documentation and tutorials
  CHANGELOG.md
Due: none

chore(release): bump GeoETL to 0.3.0
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

feat(datafusion-geoparquet): implement streaming I/O and statistics inference
  Cargo.lock
  bench/README.md
  crates/formats/datafusion-geoparquet/Cargo.toml
  crates/formats/datafusion-geoparquet/src/factory.rs
  crates/formats/datafusion-geoparquet/src/file_format.rs
  crates/formats/datafusion-geoparquet/src/file_source.rs
  crates/formats/datafusion-geoparquet/src/lib.rs
  crates/formats/datafusion-geoparquet/src/sink.rs
  crates/formats/datafusion-geoparquet/src/writer.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

feat(formats): add scaffolding for four new geospatial format modules
  Cargo.lock
  Cargo.toml
  crates/formats/datafusion-arrow/Cargo.toml
  crates/formats/datafusion-arrow/src/lib.rs
  crates/formats/datafusion-geojsonseq/Cargo.toml
  crates/formats/datafusion-geojsonseq/src/lib.rs
  crates/formats/datafusion-geopackage/Cargo.toml
  crates/formats/datafusion-geopackage/src/lib.rs
  crates/formats/datafusion-osm/Cargo.toml
  crates/formats/datafusion-osm/src/lib.rs
  crates/formats/datafusion-shapefile/Cargo.toml
  crates/formats/datafusion-shapefile/src/lib.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

chore(deps): bump geoarrow to 0.6.2 and remove performance tests
  Cargo.toml
  crates/geoetl-cli/tests/e2e_convert.rs
  crates/geoetl-cli/tests/e2e_geoparquet.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

feat(cli): add shell completions support
  Cargo.lock
  Cargo.toml
  README.md
  crates/geoetl-cli/Cargo.toml
  crates/geoetl-cli/src/main.rs
  docs/QUICKREF.md
  docs/geoetl-doc-site/docs/intro.md
  docs/geoetl-doc-site/docs/tutorial-basics/installation.md
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

docs(adr): refactor GeoParquet ADR to follow Michael Nygard template
  docs/README_ADR.md
  docs/adr/004-streaming-geoparquet-architecture.md
Due: none

docs(changelog): add v0.3.1 release entry
  CHANGELOG.md
Due: none

chore(release): bump GeoETL to 0.3.1
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

docs(blog): add missing release blog posts for v0.1.2, v0.2.0, and v0.3.1
  docs/README_blog_release_post.md
  docs/geoetl-doc-site/blog/release/2025-10-31-announcing-geoetl-v0.1.0.md
  docs/geoetl-doc-site/blog/release/2025-11-01-error-handling-v0-1-2.md
  docs/geoetl-doc-site/blog/release/2025-11-03-streaming-csv-performance-v0-2-0.md
  docs/geoetl-doc-site/blog/release/2025-11-04-geoparquet-support-v0-3-0.md
  docs/geoetl-doc-site/blog/release/2025-11-06-shell-completions-v0-3-1.md
Due: none

docs: remove promotional content and establish single source of truth
  CHANGELOG.md
  docs/DOCUMENTATION_IMPLEMENTATION_SUMMARY.md
  docs/DOCUMENTATION_STRUCTURE.md
  docs/geoetl-doc-site/DOCUMENTATION_REVIEW.md
  docs/geoetl-doc-site/blog/release/2025-11-04-geoparquet-support-v0-3-0.md
  docs/geoetl-doc-site/blog/tags.yml
  docs/geoetl-doc-site/docs/community/_category_.json
  docs/geoetl-doc-site/docs/community/changelog.md
  docs/geoetl-doc-site/docs/community/contributing.md
  docs/geoetl-doc-site/docs/community/roadmap.md
  docs/geoetl-doc-site/docs/drivers/_category_.json
  docs/geoetl-doc-site/docs/drivers/supported-drivers.md
  docs/geoetl-doc-site/docs/drivers/vector/_category_.json
  docs/geoetl-doc-site/docs/drivers/vector/csv.md
  docs/geoetl-doc-site/docs/drivers/vector/geojson.md
  docs/geoetl-doc-site/docs/drivers/vector/geoparquet.md
  docs/geoetl-doc-site/docs/faq.md
  docs/geoetl-doc-site/docs/getting-started/_category_.json
  docs/geoetl-doc-site/docs/getting-started/first-conversion.md
  docs/geoetl-doc-site/docs/getting-started/installation.md
  docs/geoetl-doc-site/docs/glossary.md
  docs/geoetl-doc-site/docs/how-to/_category_.json
  docs/geoetl-doc-site/docs/how-to/troubleshooting.md
  docs/geoetl-doc-site/docs/intro.md
  docs/geoetl-doc-site/docs/programs/_category_.json
  docs/geoetl-doc-site/docs/programs/completions.md
  docs/geoetl-doc-site/docs/programs/convert.md
  docs/geoetl-doc-site/docs/programs/drivers.md
  docs/geoetl-doc-site/docs/programs/index.md
  docs/geoetl-doc-site/docs/programs/info.md
  docs/geoetl-doc-site/docs/reference/benchmarks.md
  docs/geoetl-doc-site/docs/reference/driver-matrix.md
  docs/geoetl-doc-site/docs/tutorial-basics/understanding-drivers.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-csv.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-geojson.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-geoparquet.md
Due: none

feat(sql): add SQL query support with custom table names
  crates/geoetl-cli/src/main.rs
  crates/geoetl-core/src/operations.rs
  crates/geoetl-core/tests/integration_convert.rs
  docs/geoetl-doc-site/docs/programs/convert.md
Due: cargo-fmt, cargo-clippy, cargo-test

docs(release): add v0.4.0 changelog and release blog post
  docs/geoetl-doc-site/blog/release/2025-11-08-sql-query-support-v0-4-0.md
  docs/geoetl-doc-site/docs/community/changelog.md
Due: none

chore(release): bump GeoETL to 0.4.0
  .circleci/config-release.yml
  Cargo.lock
  Cargo.toml
  docs/geoetl-doc-site/docusaurus.config.ts
Due: taplo-fmt, cargo-deny, cargo-audit

ci: integrate Codecov for coverage reporting
  .circleci/config-ci.yml
Due: none

ci: integrate Codecov with improved CI pipeline
  .circleci/config-ci.yml
  README.md
  codecov.yml
Due: none

build(ci): upgrade codecov orb to v5.4.3
  .circleci/config-ci.yml
Due: none

perf(ci): combine build, test, and coverage into single job
  .circleci/config-ci.yml
Due: none

perf(ci): optimize CI pipeline by combining build, test, and coverage jobs (#14)
  .circleci/config-ci.yml
  README.md
  codecov.yml
Due: none

Set package-ecosystem to 'cargo' in dependabot config
  .github/dependabot.yml
Due: none

chore(deps): enhance Dependabot configuration with comprehensive monitoring
  .github/dependabot.yml
Due: none

chore: dependency updates and CI improvements
  .circleci/config-ci.yml
  .circleci/config.yml
  Cargo.lock
  Cargo.toml
  crates/formats/datafusion-geojson/Cargo.toml
  docs/geoetl-doc-site/.yarn/install-state.gz
  docs/geoetl-doc-site/package.json
  docs/geoetl-doc-site/yarn.lock
Due: taplo-fmt, cargo-deny, cargo-audit

refactor: move table name inference to format-specific implementations
  .circleci/config-ci.yml
  crates/formats/datafusion-csv/src/factory.rs
  crates/formats/datafusion-geojson/src/factory.rs
  crates/formats/datafusion-geoparquet/src/factory.rs
  crates/geoetl-core-common/src/factory.rs
  crates/geoetl-core/src/operations.rs
Due: cargo-fmt, cargo-clippy, cargo-test

chore(ci): add e2e test coverage flag
  .circleci/config-ci.yml
  codecov.yml
Due: none

chore(docs): improve website with custom icons and accurate content
  docs/geoetl-doc-site/src/components/HomepageFeatures/index.tsx
  docs/geoetl-doc-site/src/pages/index.module.css
  docs/geoetl-doc-site/static/img/icon-formats.svg
  docs/geoetl-doc-site/static/img/icon-performance.svg
  docs/geoetl-doc-site/static/img/icon-simple.svg
Due: none

chore(release): add CHANGELOG.md for v0.4.1 release
  CHANGELOG.md
Due: none

chore(release): bump GeoETL to 0.4.1
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

fix(core): sanitize table names to handle special characters in filenames
  crates/formats/datafusion-csv/src/factory.rs
  crates/formats/datafusion-geojson/src/factory.rs
  crates/formats/datafusion-geoparquet/src/factory.rs
  crates/formats/datafusion-shared/src/lib.rs
Due: cargo-fmt, cargo-clippy, cargo-test

Path conditions:
  cargo-fmt: any of: \.rs$
  taplo-fmt: any of: \.toml$
  cargo-clippy: any of: \.rs$
  cargo-test: any of: \.rs$
  cargo-deny: any of: ^(Cargo\.(toml|lock)|deny\.toml)$
  cargo-audit: any of: ^Cargo\.(toml|lock)$
