Repository geoyogesh/GeoETL: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for GeoETL
# Compatible with both pre-commit and prek (https://github.com/j178/prek)
# Install: cargo install prek OR pip install pre-commit
# Setup: prek install OR pre-commit install

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-fmt
        name: taplo format
        description: Format TOML files with taplo
        entry: taplo format
        language: system
        types: [toml]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings -D clippy::pedantic
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: cargo test --workspace --all-targets
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and dependencies
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: ^(Cargo\.(toml|lock)|deny\.toml)$

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: cargo audit
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=1000']
      - id: mixed-line-ending
        args: ['--fix=lf']

chore: add makefile workflow and align tooling docs
  Makefile
  docs/DEVELOPMENT.md
  mise.toml
Due: taplo-fmt

feat(datafusion-csv): add standalone CSV format integration
  Cargo.lock
  Cargo.toml
  crates/formats/datafusion-csv/Cargo.toml
  crates/formats/datafusion-csv/src/file_format.rs
  crates/formats/datafusion-csv/src/file_source.rs
  crates/formats/datafusion-csv/src/lib.rs
  crates/formats/datafusion-csv/src/object_store_reader.rs
  crates/formats/datafusion-csv/src/physical_exec.rs
  crates/formats/datafusion-csv/tests/e2e_data/customers-100.csv
  crates/formats/datafusion-csv/tests/e2e_data/orders.csv
  crates/formats/datafusion-csv/tests/e2e_data/products.csv
  crates/formats/datafusion-csv/tests/e2e_data/sales_data.tsv
  crates/formats/datafusion-csv/tests/e2e_data/users.csv
  crates/formats/datafusion-csv/tests/e2e_test.rs
  deny.toml
  mise.toml
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

docs(datafusion): add comprehensive geospatial format integration guide
  README.md
  docs/DATAFUSION_GEOSPATIAL_FORMAT_INTEGRATION_GUIDE.md
  docs/DEVELOPMENT.md
  docs/VISION.md
Due: none

refactor(datafusion-csv): use arrow-csv for schema inference
  Cargo.lock
  Cargo.toml
  crates/formats/datafusion-csv/Cargo.toml
  crates/formats/datafusion-csv/src/physical_exec.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

feat(datafusion-csv): align csv integration with datafusion 50 api
  Cargo.lock
  Cargo.toml
  Makefile
  crates/formats/datafusion-csv/Cargo.toml
  crates/formats/datafusion-csv/src/file_format.rs
  crates/formats/datafusion-csv/src/file_source.rs
  crates/formats/datafusion-csv/src/physical_exec.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

refactor(datafusion-csv): rely on arrow_array types instead of arrow crate
  crates/formats/datafusion-csv/src/physical_exec.rs
  deny.toml
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny

feat(formats): add shared spatial errors and GeoArrow CSV support
  .pre-commit-config.yaml
  Cargo.lock
  Cargo.toml
  crates/formats/datafusion-csv/Cargo.toml
  crates/formats/datafusion-csv/src/file_format.rs
  crates/formats/datafusion-csv/src/file_source.rs
  crates/formats/datafusion-csv/src/geospatial.rs
  crates/formats/datafusion-csv/src/lib.rs
  crates/formats/datafusion-csv/src/physical_exec.rs
  crates/formats/datafusion-csv/tests/e2e_data/spatial/natural-earth_cities_native_AS_WKT.csv
  crates/formats/datafusion-csv/tests/e2e_data/spatial/natural-earth_cities_native_AS_XY.csv
  crates/formats/datafusion-csv/tests/e2e_data/spatial/natural-earth_cities_native_AS_XYZ.csv
  crates/formats/datafusion-csv/tests/e2e_data/spatial/natural-earth_countries-bounds_native_AS_WKT.csv
  crates/formats/datafusion-csv/tests/e2e_data/spatial/natural-earth_countries-geography_native_AS_WKT.csv
  crates/formats/datafusion-csv/tests/e2e_data/spatial/natural-earth_countries_native_AS_WKT.csv
  crates/formats/datafusion-csv/tests/e2e_data/spatial/places.csv
  crates/formats/datafusion-csv/tests/e2e_non_spatial.rs
  crates/formats/datafusion-csv/tests/e2e_spatial.rs
  crates/formats/datafusion-shared/Cargo.toml
  crates/formats/datafusion-shared/src/lib.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

feat(formats): add GeoJSON format integration with GeoArrow support
  Cargo.lock
  crates/formats/datafusion-geojson/Cargo.toml
  crates/formats/datafusion-geojson/src/file_format.rs
  crates/formats/datafusion-geojson/src/file_source.rs
  crates/formats/datafusion-geojson/src/lib.rs
  crates/formats/datafusion-geojson/src/parser.rs
  crates/formats/datafusion-geojson/src/physical_exec.rs
  crates/formats/datafusion-geojson/tests/e2e.rs
  crates/formats/datafusion-geojson/tests/e2e_data/download.sh
  crates/formats/datafusion-geojson/tests/e2e_data/natural-earth_cities.geojson
  crates/formats/datafusion-geojson/tests/e2e_data/natural-earth_countries-bounds.geojson
  crates/formats/datafusion-geojson/tests/e2e_data/natural-earth_countries-geography.geojson
  crates/formats/datafusion-geojson/tests/e2e_data/natural-earth_countries.geojson
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

docs(integration-guide): update to DataFusion 50.1 and geoarrow-rs 0.6.1
  docs/DATAFUSION_GEOSPATIAL_FORMAT_INTEGRATION_GUIDE.md
  docs/README.md
  docs/formats/csv-development.md
  docs/formats/csv-user-guide.md
  docs/formats/geojson-development.md
  docs/formats/geojson-user-guide.md
Due: none

feat(core): add initial CSV driver and format support
  Cargo.lock
  Cargo.toml
  Makefile
  crates/geoetl-core/Cargo.toml
  crates/geoetl-core/src/drivers.rs
  crates/geoetl-formats/Cargo.toml
  crates/geoetl-formats/src/lib.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

feat(formats): add writer support for CSV and GeoJSON drivers
  crates/formats/datafusion-csv/src/file_format.rs
  crates/formats/datafusion-csv/src/lib.rs
  crates/formats/datafusion-csv/src/sink.rs
  crates/formats/datafusion-csv/src/writer.rs
  crates/formats/datafusion-csv/tests/test_writer_integration.rs
  crates/formats/datafusion-geojson/Cargo.toml
  crates/formats/datafusion-geojson/src/file_format.rs
  crates/formats/datafusion-geojson/src/lib.rs
  crates/formats/datafusion-geojson/src/sink.rs
  crates/formats/datafusion-geojson/src/writer.rs
  crates/formats/datafusion-geojson/tests/test_writer_integration.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test

feat(core): implement CSV and GeoJSON conversion with comprehensive testing
  Cargo.lock
  Cargo.toml
  Makefile
  crates/geoetl-cli/Cargo.toml
  crates/geoetl-cli/output.geojson
  crates/geoetl-cli/src/main.rs
  crates/geoetl-cli/tests/e2e_convert.rs
  crates/geoetl-cli/tests/e2e_data/csv/natural-earth_cities_native_AS_WKT.csv
  crates/geoetl-cli/tests/e2e_data/geojson/natural-earth_cities.geojson
  crates/geoetl-core/Cargo.toml
  crates/geoetl-core/src/lib.rs
  crates/geoetl-core/src/operations.rs
  crates/geoetl-core/tests/integration_convert.rs
  deny.toml
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

feat(core): Add geometry column and type to convert operation
  Cargo.lock
  crates/formats/datafusion-geojson/Cargo.toml
  crates/formats/datafusion-geojson/src/writer.rs
  crates/geoetl-cli/src/main.rs
  crates/geoetl-core/Cargo.toml
  crates/geoetl-core/src/operations.rs
  crates/geoetl-core/tests/integration_convert.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

feat(core): implement minimal self contained docker build
  docker/prod/Dockerfile
  docs/DEVELOPMENT.md
Due: none

feat(ci): add manual linux release pipeline
  .circleci/config.yml
Due: none

refactor(ci): separate release pipeline configuration
  .circleci/config-release.yml
  .circleci/config.yml
Due: none

fix(ci): remove redundant when clause in release pipeline
  .circleci/config-release.yml
Due: none

feat(ci): implement dynamic configuration for CI/CD
  .circleci/config-ci.yml
  .circleci/config-release.yml
  .circleci/config.yml
Due: none

ci: improve caching and expand release targets
  .circleci/config-ci.yml
  .circleci/config-release.yml
Due: none

fix(ci): add missing cross-compilation tools for release builds
  .circleci/config-release.yml
Due: none

feat(ci): add macOS release builds
  .circleci/config-release.yml
Due: none

fix(ci): remove Intel macOS build and fix Apple Silicon build
  .circleci/config-release.yml
Due: none

feat(ci): add Windows build and improve release pipeline
  .circleci/config-release.yml
Due: none

fix(ci): correctly update PATH in Windows build job
  .circleci/config-release.yml
Due: none

feat: overhaul CI/CD and expand release targets #2
  .circleci/config-ci.yml
  .circleci/config-release.yml
  .circleci/config.yml
Due: none

chore(community): add Contributor Covenant Code of Conduct
  CODE_OF_CONDUCT.md
Due: none

chore(community): add Contributor Covenant Code of Conduct (#3)
  CODE_OF_CONDUCT.md
Due: none

docs(project): update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

docs(project): update issue templates (#4)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

Fix formatting issue in README.md
  README.md
Due: none

docs(readme): fix formatting issue in README.md (#5)
  README.md
Due: none

feat(release): configure cargo-release and CI for automated releases
  .circleci/config-release.yml
  Cargo.toml
  mise.toml
Due: taplo-fmt, cargo-deny, cargo-audit

chore(release): bump {{crate_name}} from {{prev_version}} to 0.1.1
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

chore(release): use static name in release commit and tag
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

chore(release): bump GeoETL from {{prev_version}} to 0.1.2
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

chore(release): bump GeoETL from {{prev_version}} to 0.1.3
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

fix(ci): import cimg orb for base executor
  .circleci/config-release.yml
Due: none

chore(release): bump GeoETL to 0.1.4
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit
