Repository geoyogesh/GeoETL: changes, and which pre-commit hooks are due for each by the changed paths.
All: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

.pre-commit-config.yaml:

# Pre-commit hooks for GeoETL
# Compatible with both pre-commit and prek (https://github.com/j178/prek)
# Install: cargo install prek OR pip install pre-commit
# Setup: prek install OR pre-commit install

repos:
  # Rust formatting and linting
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        description: Format Rust code with rustfmt
        entry: cargo fmt --all --
        language: system
        types: [rust]
        pass_filenames: false

      - id: taplo-fmt
        name: taplo format
        description: Format TOML files with taplo
        entry: taplo format
        language: system
        types: [toml]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        description: Lint Rust code with clippy
        entry: cargo clippy --workspace --all-targets -- -D warnings -D clippy::pedantic
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-test
        name: cargo test
        description: Run Rust tests
        entry: cargo test --workspace --all-targets
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-deny
        name: cargo deny
        description: Check licenses and dependencies
        entry: cargo deny check
        language: system
        pass_filenames: false
        files: ^(Cargo\.(toml|lock)|deny\.toml)$

      - id: cargo-audit
        name: cargo audit
        description: Check for security vulnerabilities
        entry: cargo audit
        language: system
        pass_filenames: false
        files: ^Cargo\.(toml|lock)$

  # General file checks
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^(.*\.md|.*\.txt)$
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
        args: ['--maxkb=5000']
      - id: mixed-line-ending
        args: ['--fix=lf']

fix(ci): correct CircleCI configuration for release job
  .circleci/config-release.yml
Due: none

chore(release): bump GeoETL to 0.1.5
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

fix(cicd): repair release pipeline and optimize build jobs
  .circleci/config-release.yml
Due: none

chore(release): bump GeoETL to 0.1.6-alpha.1
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

fix(release): pin sccache version and add release documentation
  .circleci/config-release.yml
  docs/DEVELOPMENT.md
Due: none

chore(release): bump GeoETL to 0.1.6-alpha.2
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

chore(changelog): add CHANGELOG.md
  CHANGELOG.md
Due: none

docs(readme): add project badges
  README.md
Due: none

docs: complete GeoETL documentation site with tutorials and branding
  docs/geoetl-doc-site/README.md
  docs/geoetl-doc-site/blog/2019-05-28-first-blog-post.md
  docs/geoetl-doc-site/blog/2019-05-29-long-blog-post.md
  docs/geoetl-doc-site/blog/2021-08-01-mdx-blog-post.mdx
  docs/geoetl-doc-site/blog/2021-08-26-welcome/docusaurus-plushie-banner.jpeg
  docs/geoetl-doc-site/blog/2021-08-26-welcome/index.md
  docs/geoetl-doc-site/blog/2025-10-31-announcing-geoetl-v0.1.0.md
  docs/geoetl-doc-site/blog/2025-10-31-introducing-geoetl.md
  docs/geoetl-doc-site/blog/2025-11-01-getting-started-with-geoetl.md
  docs/geoetl-doc-site/blog/tags.yml
  docs/geoetl-doc-site/docs/intro.md
  docs/geoetl-doc-site/docs/tutorial-basics/common-operations.md
  docs/geoetl-doc-site/docs/tutorial-basics/congratulations.md
  docs/geoetl-doc-site/docs/tutorial-basics/create-a-blog-post.md
  docs/geoetl-doc-site/docs/tutorial-basics/create-a-document.md
  docs/geoetl-doc-site/docs/tutorial-basics/create-a-page.md
  docs/geoetl-doc-site/docs/tutorial-basics/deploy-your-site.md
  docs/geoetl-doc-site/docs/tutorial-basics/first-conversion.md
  docs/geoetl-doc-site/docs/tutorial-basics/installation.md
  docs/geoetl-doc-site/docs/tutorial-basics/markdown-features.mdx
  docs/geoetl-doc-site/docs/tutorial-basics/understanding-drivers.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-csv.md
  docs/geoetl-doc-site/docs/tutorial-extras/_category_.json
  docs/geoetl-doc-site/docs/tutorial-extras/img/docsVersionDropdown.png
  docs/geoetl-doc-site/docs/tutorial-extras/img/localeDropdown.png
  docs/geoetl-doc-site/docs/tutorial-extras/manage-docs-versions.md
  docs/geoetl-doc-site/docs/tutorial-extras/translate-your-site.md
  docs/geoetl-doc-site/docusaurus.config.ts
  docs/geoetl-doc-site/src/components/HomepageFeatures/index.tsx
  docs/geoetl-doc-site/src/pages/index.tsx
  docs/geoetl-doc-site/static/img/geoetl_logo.png
  docs/geoetl-doc-site/static/img/geoetl_logo1.png
Due: none

build(docs): add explicit @types/react dependency
  docs/geoetl-doc-site/package.json
  docs/geoetl-doc-site/yarn.lock
Due: none

build(docs): regenerate yarn.lock for CI
  docs/geoetl-doc-site/yarn.lock
Due: none

build(docs): add .yarnrc.yml to lock build settings
  docs/geoetl-doc-site/.yarnrc.yml
Due: none

chore: upgrade to yarn 4 and align node version
  docs/geoetl-doc-site/.yarn/install-state.gz
  docs/geoetl-doc-site/.yarn/releases/yarn-4.10.3.cjs
  docs/geoetl-doc-site/.yarnrc.yml
  docs/geoetl-doc-site/package.json
  docs/geoetl-doc-site/yarn.lock
  mise.toml
Due: taplo-fmt

docs(config): Update Docusaurus deployment URL and base path
  docs/geoetl-doc-site/docusaurus.config.ts
Due: none

docs(config): Update Readme
  docs/README.md
Due: none

feat(website): onboarded to google analytics
  docs/geoetl-doc-site/.yarn/install-state.gz
  docs/geoetl-doc-site/docusaurus.config.ts
  docs/geoetl-doc-site/package.json
  docs/geoetl-doc-site/yarn.lock
Due: none

feat(website): onboarded to google analytics
  docs/geoetl-doc-site/docusaurus.config.ts
Due: none

feat(website): website fixed image and sidebar
  docs/geoetl-doc-site/docusaurus.config.ts
  docs/geoetl-doc-site/static/img/geoetl_logo2.png
Due: none

feat(cli): implement info command with dataset inspection
  crates/geoetl-cli/src/display.rs
  crates/geoetl-cli/src/main.rs
  crates/geoetl-core/src/lib.rs
  crates/geoetl-core/src/operations.rs
  crates/geoetl-core/src/types.rs
  crates/geoetl-core/src/utils.rs
  crates/geoetl-core/tests/integration_convert.rs
  docs/MANUAL_TEST_SCRIPT.md
  docs/USERGUIDE.md
  docs/geoetl-doc-site/docs/intro.md
  docs/geoetl-doc-site/docs/tutorial-basics/common-operations.md
  docs/geoetl-doc-site/docs/tutorial-basics/first-conversion.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-csv.md
Due: cargo-fmt, cargo-clippy, cargo-test

feat(cli): add display module with dataset info formatting
  crates/geoetl-cli/src/display.rs
  crates/geoetl-cli/src/main.rs
  crates/geoetl-core/src/lib.rs
  crates/geoetl-core/src/operations.rs
  crates/geoetl-core/src/types.rs
  crates/geoetl-core/src/utils.rs
  crates/geoetl-core/tests/integration_convert.rs
  docs/MANUAL_TEST_SCRIPT.md
  docs/USERGUIDE.md
  docs/geoetl-doc-site/.yarn/install-state.gz
  docs/geoetl-doc-site/docs/intro.md
  docs/geoetl-doc-site/docs/tutorial-basics/common-operations.md
  docs/geoetl-doc-site/docs/tutorial-basics/first-conversion.md
  docs/geoetl-doc-site/docs/tutorial-basics/working-with-csv.md
  docs/geoetl-doc-site/docusaurus.config.ts
  docs/geoetl-doc-site/package.json
  docs/geoetl-doc-site/static/img/geoetl_logo2.png
  docs/geoetl-doc-site/yarn.lock
Due: cargo-fmt, cargo-clippy, cargo-test

chore(release): bump GeoETL to 0.1.1
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

refactor(core): implement Abstract Factory pattern for driver registration
  Cargo.lock
  Cargo.toml
  crates/formats/datafusion-csv/Cargo.toml
  crates/formats/datafusion-csv/src/factory.rs
  crates/formats/datafusion-csv/src/lib.rs
  crates/formats/datafusion-geojson/Cargo.toml
  crates/formats/datafusion-geojson/src/factory.rs
  crates/formats/datafusion-geojson/src/lib.rs
  crates/geoetl-cli/src/main.rs
  crates/geoetl-core-common/Cargo.toml
  crates/geoetl-core-common/src/drivers.rs
  crates/geoetl-core-common/src/factory.rs
  crates/geoetl-core-common/src/io.rs
  crates/geoetl-core-common/src/lib.rs
  crates/geoetl-core/Cargo.toml
  crates/geoetl-core/src/init.rs
  crates/geoetl-core/src/lib.rs
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

refactor(operations): replace switch statements with factory pattern for I/O
  crates/geoetl-cli/src/main.rs
  crates/geoetl-core/src/operations.rs
  crates/geoetl-core/tests/integration_convert.rs
Due: cargo-fmt, cargo-clippy, cargo-test

feat(core): implement structured error handling with user-friendly messages
  Cargo.lock
  Cargo.toml
  README.md
  crates/geoetl-cli/src/main.rs
  crates/geoetl-core/Cargo.toml
  crates/geoetl-core/src/error.rs
  crates/geoetl-core/src/lib.rs
  crates/geoetl-core/src/operations.rs
  docs/DEVELOPMENT.md
  docs/QUICKREF.md
  docs/USERGUIDE.md
  docs/geoetl-doc-site/blog/2025-10-31-announcing-geoetl-v0.1.0.md
  docs/geoetl-doc-site/blog/2025-11-01-getting-started-with-geoetl.md
  docs/geoetl-doc-site/docs/tutorial-basics/common-operations.md
  docs/geoetl-doc-site/docs/tutorial-basics/troubleshooting.md
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

refactor(docs): move format-specific docs to package directories
  crates/formats/datafusion-csv/docs/csv-development.md
  crates/formats/datafusion-csv/docs/csv-user-guide.md
  crates/formats/datafusion-geojson/docs/geojson-development.md
  crates/formats/datafusion-geojson/docs/geojson-user-guide.md
  docs/DATAFUSION_GEOSPATIAL_FORMAT_INTEGRATION_GUIDE.md
Due: none

feat(ci): add CircleCI pipeline for Cloudflare Pages deployment
  .circleci/config-deploy-docs.yml
Due: none

feat(ci): integrate docs deployment into release workflow
  .circleci/config-deploy-docs.yml
  .circleci/config-release.yml
Due: none

chore(release): bump GeoETL to 0.1.2
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

docs: update CHANGELOG.md for v0.1.2 release
  CHANGELOG.md
Due: none

feat: implement factory writer methods and increase test coverage
  crates/formats/datafusion-csv/src/factory.rs
  crates/formats/datafusion-csv/src/sink.rs
  crates/formats/datafusion-geojson/src/factory.rs
  crates/formats/datafusion-geojson/src/sink.rs
  crates/formats/datafusion-shared/src/lib.rs
  crates/geoetl-cli/src/main.rs
  crates/geoetl-cli/tests/e2e_convert.rs
  crates/geoetl-core-common/src/io.rs
  crates/geoetl-core/src/drivers.rs
  crates/geoetl-core/src/error.rs
  crates/geoetl-core/src/operations.rs
Due: cargo-fmt, cargo-clippy, cargo-test

docs: add ADR 001 for streaming GeoJSON architecture
  docs/adr/001-streaming-geojson-architecture.md
Due: none

feat(bench): add comprehensive benchmarking framework with real-time monitoring
  .gitignore
  bench/README.md
  bench/data_download.sh
  bench/run_benchmark.sh
  bench/stop_benchmark.sh
  docs/geoetl-doc-site/.yarn/install-state.gz
  docs/geoetl-doc-site/blog/2025-11-03-performance-benchmarking-infrastructure.md
  docs/geoetl-doc-site/docusaurus.config.ts
  docs/geoetl-doc-site/package.json
  docs/geoetl-doc-site/yarn.lock
Due: none

feat!: streaming architecture with configurable performance parameters
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  bench/README.md
  crates/formats/datafusion-csv/Cargo.toml
  crates/formats/datafusion-csv/src/factory.rs
  crates/formats/datafusion-csv/src/file_format.rs
  crates/formats/datafusion-csv/src/lib.rs
  crates/formats/datafusion-csv/src/sink.rs
  crates/formats/datafusion-geojson/Cargo.toml
  crates/formats/datafusion-geojson/src/decoder.rs
  crates/formats/datafusion-geojson/src/factory.rs
  crates/formats/datafusion-geojson/src/file_format.rs
  crates/formats/datafusion-geojson/src/lib.rs
  crates/formats/datafusion-geojson/src/parser.rs
  crates/formats/datafusion-geojson/src/physical_exec.rs
  crates/formats/datafusion-geojson/src/sink.rs
  crates/formats/datafusion-geojson/src/writer.rs
  crates/geoetl-cli/src/main.rs
  crates/geoetl-core-common/src/factory.rs
  crates/geoetl-core/src/operations.rs
  crates/geoetl-core/tests/integration_convert.rs
  docs/DATAFUSION_GEOSPATIAL_FORMAT_INTEGRATION_GUIDE.md
  docs/adr/001-streaming-geojson-architecture.md
  docs/adr/002-streaming-csv-architecture.md
  docs/adr/003-geojson-performance-optimization.md
  docs/geoetl-doc-site/blog/2025-11-03-performance-benchmarking-infrastructure.md
Due: cargo-fmt, taplo-fmt, cargo-clippy, cargo-test, cargo-deny, cargo-audit

chore(release): bump GeoETL to 0.2.0
  Cargo.lock
  Cargo.toml
Due: taplo-fmt, cargo-deny, cargo-audit

fix(docs): escape HTML chars in MDX and add docs-build to make check
  Makefile
  docs/geoetl-doc-site/blog/2025-11-03-performance-benchmarking-infrastructure.md
Due: none

perf(ci): upgrade resource classes for release build jobs
  .circleci/config-release.yml
Due: none
